= render 'shared/header'
.contents.row
  .container-new
    %h3
      New Topic
    = form_for @tweet do |f|
      .item__content
        .form__group
          = f.label :Title, class: "form-label"
          %span.form-require *Mandatory field
          = f.text_field :title, class: "input__default"
      .item__content
        .form__group
          = f.label :Country, class: "form-label"
          %span.form-require *Mandatory field
          = f.text_field :country, class: "input__default"
      .item__content
        = f.fields_for :image, Tweet.new do |image|
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              =f.label :image, class: "form-label"
              %span.form-require *Mandatory field
              = f.file_field :image, class: "hidden"
              .form__mask__box
      .item__content
        .form__group
          =f.label :Review, class: "form-label"
          %span.form-require *Mandatory field
          =f.text_area :detail, class: "textarea__default", rows: "7"
        = f.submit 'Send', class: 'form__submit'


= render 'shared/footer'

