#contents
  #ContentsBody
    .Container
      %span.Guid
        %a#ContentsStart
      #Main
        %article.section
          .container
            %header.header.header--section
              %h2.text-middle
                %i.far.fa-comments.color-gray-light
                New Spots
            %ul#list-module.thumbnails
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
            %ul#list-module.thumbnails
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
      %aside.section
        %h4.text-small.hr-bottom--thin.no-space-bottom
          %i.icon-crown.color-gray-light>
          人気カテゴリー
        %ul.listview.listview--condensed.text-small
          %li{"data-gossip-id" => "346394"}
            %a{:href => "/products/1"}
              .box
                .box__cell.w40.align-center
                  %p.label.bgcolor-gray-lighter.align-center
                    1
                .box__cell.pl1em
                  %p.text-xsmall.no-space
                    オオカミ少女と黒王子
                  %img{:alt => "", :src => ""}/