#contents
  #ContentsBody
    .Container
      %span.Guid
        %a#yjContentsStart
      #Main
        %article.section
          .container
            %header.header.header--section
              %h2.text-middle
                %i.far.fa-comments.color-gray-light
                New Spots
            %ul#list-module.thumbnails
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
            %ul#list-module.thumbnails
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説
              %li.col
                = image_tag "https://cdn.zekkei-japan.jp/images/areas/40f21b30b17c649b5263113065a9e1a7.jpg" do
                  .thumbnail_figure
                .thumbnail__caption
                  %h3.text-xsmall.text-overflow
                    %span>
                      %i.icon-rate-60.text-xxsmall.opacity-60{:title => ""}
                    東京の都市伝説